@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
    color: #fff;
    transition: .5s;
}
body{
    background-color: #121212 ;
}
a{
    text-decoration: none;   
}
.App{
    display: flex;
    flex-direction: column;
}